*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    background-color:goldenrod;
    padding: 5px;
}

.breukh{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 2px solid;
    padding: 5px;
    color: darkred;
}

/* ANIMATION */
img{
    margin: 100px;
    animation: infinite 1s ball-animation linear;
    width: 100px;
    height: 100px;
}

@keyframes ball-animation {
    0%{
        width: 100px;
        height: 100px;
    }
    10%{
        transform: translateY(10px);
    }
    20%{
        transform: translateY(40px);
    }
    30%{
        transform: translateY(100px);
    }
    40%{
        transform: translateY(200px);
    }
    48%{
        width: 100px;
        height: 100px;
    }
    50%{
        width: 100px;
        height: 40px;
        transform: translateY(400px);
    }
    52%{
        width: 100px;
        height: 100px;
    }
    60%{
        transform: translateY(200px);
    }
    70%{
        transform: translateY(100px);
    }
    80%{
        transform: translateY(40px);
    }
    90%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }


}